---
name: {{ name }}

startup:
  - command: echo
    args:
      - "starting {{ name }} session" # add commands here to run on session startup

shutdown:
  - command: echo
    args:
      - "stopping {{ name }} session" # add commands here to run on session shutdown

path: {{ path }} # change this to suit

windows:
  - name: code
    flex_direction: column # panes are above one another, if ommited defaults to row where panes are side by side
    panes:
      - name: Editor
        flex: 5
        commands:
          - command: $EDITOR
        focus: true #ensure editor pane is selected
      - flex: 2

  - name: misc
    flex_direction: row
    panes:
      - flex: 1
      - flex: 1
        path: . # optional relative or absolute path
        flex_direction: column
        panes:
          - flex: 1
          - flex: 5
