---
name: laio

path: .

pane_cmd_delay: 500

windows:
  - name: code
    panes:
      - flex: 3
        commands:
          - command: ^$env.EDITOR
      - flex: 1
        commands:
          - command: opencode
            args:
              - --port

  - name: misc
    panes:
      - flex: 1
      - flex: 1
        flex_direction: column
        panes:
          - flex: 1
            path: docs
            commands:
              - command: zola
                args:
                  - serve
          - flex: 4
