layout {
    tab "code" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane command="echo" args="hello"
                pane
            }
            pane cwd="src" command="echo" args="hello again" focus=true
        }
    }
    tab "infrastructure" {
        pane split_direction="vertical" {
            pane cwd="one" command="echo 'hello again 1'"
            pane cwd="two" command="echo 'hello again 2'"
            pane cwd="three" {
                command "clear"
                command "echo 'hello again 3'"
            }
        }
    }
}
