layout {
    cwd "/tmp"
    tab name="code" hide_floating_panes=true {
        pane command="$EDITOR"
    }
    tab name="misc" focus=true hide_floating_panes=true {
        pane split_direction="vertical" {
            pane size="50%" {
                pane size="50%" split_direction="vertical" {
                    pane command="foo" cwd="one" size="33%" {
                        start_suspended true
                    }
                    pane cwd="two" size="33%"
                    pane cwd="three" size="33%"
                }
                pane cwd="." focus=true size="50%"
            }
            pane size="50%" {
                pane cwd="four" size="33%"
                pane cwd="five" size="33%"
                pane cwd="six" size="33%"
            }
        }
    }
    new_tab_template {
    }
}

