---
name: CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - "**/*.nix"
      - "Cargo.lock"
      - "Cargo.toml" 
      - "flake.lock"
      - "flake.nix"
      - "src/**"
      - "tests/**"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6

      - name: Install Determinate Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Run tests in Nix develop shell
        run: nix build .#laio