on:
  workflow_dispatch:
  # push:
  #   paths:
  #     - docs/*

name: Build and deploy GH Pages
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - uses: DeterminateSystems/nix-installer-action@main
      - run: |
          cd docs
          nix develop --no-pure-eval --command zola check

  build:
    runs-on: ubuntu-latest
    needs: check
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          BUILD_DIR: docs
          PAGES_BRANCH: gh_pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
